<? include includes/header.ejs ?>

this is the stories pages

pick a story


<a href="/story/123">Story 123</a>
<a href="/story/about-fish">About fish</a>
<a href="/story/lemon-story">Lemon Story</a>

<? include includes/footer.ejs ?>